<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Virtual Market</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.52.0/dist/phaser.min.js"></script>
    <style>
      body {
        padding: 0px;
        margin: 0px;
        background-color: black;
      }
    </style>
  </head>

  <body>
    <script src="../js/game.js"></script>
  </body>
</html>