<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Virtual Market</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.52.0/dist/phaser.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
      body {
        padding: 0px;
        margin: 0px;
        background-color: white;
      }
    </style>
  </head>

  <body id='game-container'>
    <script type="text/javascript" src="/game"></script>
  </body>
</html>