
<!-- may be add image as backdrop? -->
<div 
  style="
  display: flex;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  width:1280px;
  height:960px;">
  <div 
  id="store-data" 
  style="
  align-self: center;
  width:90%; 
  height:90%; 
  border-radius: 15px;
  overflow: auto; 
  background: white; ">
    Store Data
    <ul style="text-align: left;">
      <li>Suits</li>
      <li>Shoes</li>
      <% if (false) { %>
        <li>Shirts</li>
      <% } %>
    </ul>
    <button id="request-data">get data</button>
    <button id="close-button">close</button>
  </div>
</div>